{% extends "index.html" %}
{% load static %}

{% block content %}
<button class="popupboutton" id="register">Sign in</button>
		<div class="popupcontainer" id="registration_container"></div>
		<button class="popupboutton" id="login">Log in</button>
		<div class="popupcontainer" id="login_container"></div>
		<br> <br>
		<div class="game" id="gamecanvas"></div>
		<div id="scripts">
			<script src="{% static 'js/page_display.js' %}"></script>
			<script src="{% static 'js/send_form.js' %}"></script>
		</div>
{% endblock %}