<h1>SIGN IN</h1>
        <form id="registration">
            <label>
                <input class="popuptext" id="username" type="text" placeholder="" required=""></input>
                <span>Username</span>
                <br><br>
            </label>
            <label>
                    <input class="popuptext" id="mail" type="email" placeholder="" required=""></input>
                    <span>Email</span>
                    <br><br>
                </label>
            <label>
                <input class="popuptext" id="Password" type="password" placeholder="" required=""></input>
                <span>Password</span>
                <br><br>
            </label>
            <label>
                <input class="popuptext" id="RPassword" type="password" placeholder="" required=""></input>
                <span>Confirm Password</span>
                <br><br>
            </label>
            <label>
                <button class="close" id="Rclose">X</button>
                <button class="submit" type="submit" id="registersubmit">Register me</button>
            </label>
        </form>