{% load static %}

<script class="game_class_script" src="{% static 'js/pong/racket.js'%}"></script>
<script class="game_class_script" src="{% static 'js/pong/balle.js'%}"></script>
<script class="game_script" src="{% static 'js/pong/main.js'%}"></script>
<script class="home_script" src="{% static 'js/main_page/logout.js' %}"></script>
<script class="home_script" src="{%static 'js/main_page/profile.js'%}"></script>

<script class="auth_script" src="{% static 'js/authentication/page_display.js' %}"></script>
<script class="auth_script" src="{% static 'js/authentication/send_form.js' %}"></script>
<script class="auth_script" src="{% static 'js/authentication/popup_handler.js' %}"></script>
