body
{
    text-align: center;
    align-items: center;
}

#canv
{
    position: relative;
    top: 150px;
    right: 150px;
    background-image: url("../../js/img/back.png");
    border: 1px black;
    z-index: 1;
}

.popupboutton
{
    position: relative;
    padding: 20px 44px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0 .1);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
}

#register
{
    bottom:1000px;
    left: 210px;
    background-color: #8b6242;
    color: #362315;
}

#login
{
    bottom:1000px;
    left: 1900px;
    background-color: #8b6242;
    color: #362315;
}

.popupcontainer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.popupcontainer.on
{
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
}

.popupcontainer .popupbox
{
    width: 1000px;
    background-color: #8b6242;
    border-radius: 8px;
    box-shadow: 0 0 10 rgba(0, 0, 0,.1);
    padding: 30px;
    transform: scale(0);
}

.popupcontainer.on .popupbox
{
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
}

.popupbox h1
{
    color: black;
    line-height: 1;
}

.popupbox p 
{
    color: black; 
    margin: 12px 0 20px;
}

.popupbox .oui 
{
    width: 100%;
    height: 45px;
    background-color: #362315;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,0 .1);
    cursor: pointer;
    color: antiquewhite;
    font-weight: 500;
}