<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MULTIVERSUS</title>
		<link rel="stylesheet" href="./css/main.css">
	</head>
	<body>
		<h1>MULTIVERSUS <br></h1>
		<button class="popupboutton" id="register">S'inscire</button>
		<div class="popupcontainer" id="registration_container"></div>
		<button class="popupboutton" id="login">Connexion</button>
		<div class="popupcontainer" id="login_container"></div>
		<br> <br>
		<div class="game" id="gamecanvas"></div>
		<div id="scripts">
			<script src="../js/test.js"></script>
			<script src="../js/popup.js"></script>
		</div>
	</body>
</html>